In [ ]:
# Function

def shaadi():
  ''' create a function'''
  print("Vijay weds Rashamika")

In [ ]:
shaadi()

Vijay weds Rashamika

In [ ]:
# 1. positional
# 2. default
# 3. key, value
# 4. length size

In [ ]:
# 1. positional argument


def shaadi(g, b):
  print(g , " weds ", b)

In [ ]:
shaadi("9tara", "prajapati")

9tara  weds  prajapati

In [ ]:
shaadi("3sha", "prajapati")

3sha  weds  prajapati

In [ ]:
def intro(name, gender):
  print("name : ", name, "\ngender : ", gender )

In [ ]:
intro("Dhanraj", "Male")

name :  Dhanraj
gender :  Male

In [ ]:
intro("Male", "Dhanraj")

name :  Male
gender :  Dhanraj

In [ ]:
def intro(name, gender):
  print("name : ", name, "\ngender : ", gender )

In [ ]:
user_gender = input("Enter gender : ")
user_name = input("Enter name")
intro(name = user_name, gender = user_gender)

Enter gender : male
Enter namedhanraj
name :  dhanraj
gender :  male

In [ ]:
def intro(name, dream):
  print("name : ", name ,  " Dream : ", dream)

In [ ]:
intro("dhanraj")

TypeError: intro() missing 1 required positional argument: 'dream'

In [ ]:
def intro(name, dream = "Engineer") :
  print("name : ", name ,  " Dream : ", dream)

In [ ]:
intro("dhanraj")

name :  dhanraj  Dream :  Engineer

In [ ]:
intro("dhanraj", "s/w developer")

name :  dhanraj  Dream :  s/w developer

In [ ]:
def hobbies(*hobby):
  print(hobby, type(hobby))



hobbies(input("Enter : "))

Enter : gaming writing travel
('gaming writing travel',) <class 'tuple'>

In [ ]:
def hobbies(*hobby):

  counter = 1
  for h in hobby:
    print(f"{counter}. {h}")
    counter += 1

l = []
while True:
  hobby = input("Enter : ")

  if hobby == '':
    break
  else:
    l.append(hobby)


hobbies(*l)

Enter : developing
Enter : travel
Enter : playing
Enter :
1. developing
2. travel
3. playing

In [ ]:
def addition(num1, num2):
  print(f"Addition of {num1} and {num2} is : {num1 + num2}")

In [ ]:
addition(10, 20)

Addition of 10 and 20 is : 30

In [ ]:
result = addition(20, 20)
print(result)

Addition of 20 and 20 is : 40
None

In [ ]:
print(addition(30, 40))

Addition of 30 and 40 is : 70
None

In [ ]:
def addition1(num1, num2):
  return f"Addition of {num1} and {num2} is : {num1 + num2}"

In [ ]:
print(addition(30, 40))

Addition of 30 and 40 is : 70

In [ ]:
result = addition1(10, 10)

In [ ]:
print(result)

Addition of 10 and 10 is : 20

In [ ]:
2.	Find the Second Largest Element:
○	Question: Find the second largest element in an array.
○	Logic: Initialize two variables to store the largest and second-largest elements and iterate through the array.
○	Sample Input: [7, 3, 9, 2, 8]
○	Expected Output: Second Largest: 8

In [ ]:
def second_largest(list):
  result = sorted(set(list))
  return result[-2]



print( second_largest([7, 3, 9, 2, 8, 8, 8, 9, 9, 9]))

8

In [ ]:
# ○	Sample Input: [7, 3, 9, 2, 8, 8, 8, 9, 9, 9]
# ○	Expected Output: Second Largest: 9


def second_largest(list):
  result = sorted(list)
  return result[-2]



print( second_largest([7, 3, 9, 2, 8, 8, 8, 9, 9, 9]))

9

In [ ]:
3.	Remove Duplicates from Unsorted Array:
○	Question: Write a function to remove duplicates from an unsorted array.
○	Logic: Use a hash set to keep track of unique elements as you iterate through the array.
○	Sample Input: [3, 2, 3, 1, 2, 4]
○	Expected Output: [3, 2, 1, 4]

In [ ]:
5.	Intersection of Two Arrays:
○	Question: Find the intersection of two arrays.
○	Logic: Use a hash set to store one array's elements and check for common elements in the second array.
○	Sample Input: [1, 2, 2, 1] and [2, 2]
○	Expected Output: [2]

In [ ]:
s = {1, 2, 3, 4}
s2 = {1, 4, 2, 5}
print(s & s2)

{1, 2, 4}

In [ ]:
print(s - s2)

{3}

In [ ]:
def intersection(list1, list2):
  return set(list1) & set(list2)


intersection([1, 2, 2, 1], [1, 2])

{1, 2}

In [ ]:
def intersection(list1, list2):

  if len(list1) <= 0 and len(list2) <= 0:
    return "List is empty"

  result_list = []
  for num in list1:
    if num in list2:
      result_list.append(num)

  return set(result_list)


intersection([1, 2, 2, 1], [1, 2])

{1, 2}

In [ ]:
# find first occurrence

Sample Test Case 1 : s1 = "Hello, Python",    s2 = "Python"
Expected output    : 7

Sample Test Case 1 : s1 = "Hello, world",    s2 = "Java"
Expected output    : -1

Sample Test Case 1 : s1 = "",    s2 = ""
Expected output    : -1

In [ ]:
def first_occurrence(s1, s2):
  if len(s1) <= 0 and len(s2) <= 0:
    return -1
  return s1.find(s2)

s1 = "Hello, Python"
s2 = "Python"

In [ ]:
first_occurrence(s1, s2)

7

In [ ]:
def first_occurrence(s1, s2):
  if len(s1) <= 0 and len(s2) <= 0:
    return -1

  for letter in range(len(s1)):
    if s1[letter] == s2[0]:
      return letter

s1 = "Hello, Python"
s2 = "Python"

first_occurrence(s1, s2)

7

In [ ]:
11.	Move Zeros to the End:
○	Question: Given an array, move all the zeros to the end without changing the order of non-zero elements.
○	Logic: Iterate through the array, moving non-zero elements to the front and filling the remaining space with zeros.
○	Sample Input: [0, 1, 0, 3, 12]
○	Expected Output: [1, 3, 12, 0, 0]

In [ ]:
def moves_zeros(list):
  position = 0
  for index in list:
        if index != 0:
            list[position] = index
            position += 1

  for i in range(position, len(list)):
      list[i] = 0

  return list


moves_zeros([0, 1, 0, 3, 12])

[1, 3, 12, 0, 0]

In [ ]:
def moves_zeros(list):
  position = 0
  for index in list:
        if index != 0:
            list[position] = index
            position += 1

  for i in range(position, len(list)):
      list[i] = 0

  return list


moves_zeros([0, 1, 0, 3, 12])

[1, 3, 12, 0, 0]

In [ ]:
13.	Find the Kth Largest Element:
○	Question: Find the Kth largest element in an array.
○	Logic: Use techniques like quickselect or a max-heap to find the Kth largest element efficiently.
○	Sample Input: [3, 2, 1, 5, 6, 4], K = 2
○	Expected Output: 5

In [ ]:
2.	Remove Duplicates from a List:
○	Question: Write a function to remove duplicate elements from a list.
○	Logic: Use a loop or convert the list to a set and back to a list.
○	Sample Input: [1, 2, 2, 3, 4, 4, 5]
○	Expected Output: [1, 2, 3, 4, 5]

In [ ]:
def remove_duplicates(list):

  for x in list:
    pass




remove_duplicates([1, 2, 2, 3, 4, 4, 5])

[1, 2, 3, 4, 5]

In [ ]:
def remove_duplicates(list):
  unique_list = []
  for item in list:
      if item not in unique_list:
          unique_list.append(item)
  return unique_list



remove_duplicates([1, 2, 2, 3, 4, 4, 5])

[1, 2, 3, 4, 5]

In [ ]:
# 2.	Remove Duplicate elements from a List:
# ○	Sample Input: [1, 2, 2, 3, 4, 4, 5],   element = 2
# ○	Expected Output: [1, 2, 3, 4, 4, 5]

def remove_element(list, element):
  for value in list:
    if value == element:
      list.remove(value)
  return list


remove_element([1, 2, 2, 3, 4, 4, 5], 2)

[1, 2, 3, 4, 4, 5]

In [ ]:
def merge_two_list(list1, list2):
  list1.extend(list2)
  return sorted(list1)

def merge_two_list2(list1, list2):
  return sorted(list1 + list2)

list1 = [3, 0, 1, 5, 10, 0]
list2 = [4, 3, 2]

print(merge_two_list(list1, list2))
print(merge_two_list2(list1, list2))

[0, 0, 1, 2, 3, 3, 4, 5, 10]
[0, 0, 1, 2, 2, 3, 3, 3, 4, 4, 5, 10]

In [ ]:
'''
3.	Reverse a List:
○	Question: Write a function to reverse the order of elements in a list.
○	Logic: Use list slicing or a loop to reverse the elements.
○	Sample Input: [1, 2, 3, 4, 5]
○	Expected Output: [5, 4, 3, 2, 1]


'''

In [ ]:
'''
4.	Check for Palindromic List:
○	Question: Write a function to check if a list is a palindrome.
○	Logic: Compare the list with its reverse.
○	Sample Input: [1, 2, 3, 2, 1]
○	Expected Output: Palindrome
'''




def is_palindromic(list):
    if list == list[::-1]:
        return "Palindrome"
    else:
        return "Not a palindrome"

is_palindromic([1, 2, 3, 2, 1])

'Palindrome'

In [ ]:
def is_palindromic(list):
    if list == list[::-1]:
        return True
    else:
        return False




if is_palindromic([1, 2, 3, 2, 1]):
  print("Palindrome")
else:
  print("Not a Palindrome")

Palindrome

In [ ]:
# Modules

import math

a = 10.9

math.floor(a)

10

In [ ]:
math.ceil(a)

11

In [ ]:
# Modules

import math as m

a = 10.9

m.floor(a)

10

In [ ]:
# Modules

from math import floor

a = 10.9

math.floor(a)

10

In [ ]:
import random

In [ ]:
random.randint(0, 9)

4

In [ ]:
random.randint(0, 1001)

745

In [ ]:
# generate otp

for x in range(4):
  print(random.randint(0, 9), end = " ")

6 2 1 7

In [ ]:
import random
machine = random.randint(1, 11)
print(machine)
while True:

  user = int(input("Enter Number : "))

  if machine == user:
    print("You won...")
    break
  else:
    print("Try again....")

2
Enter Number : 5
Try again....
Enter Number : 4
Try again....
Enter Number : 2
You won...

In [ ]:
# machine ---> 97

# user --> 50 ---> num > machine ---> guess lower
#             ---> num < machine ---> guess higher
#             ---> num == machine --> you won

In [ ]:
import random
machine = random.randint(1, 100)
user = int(input("Enter Number : "))

while True:

  if machine == user:
    print("You won...")
    break
  elif machine > user:
    print("Guess Higher...")
  elif machine < user:
    print("Guess lower...")

  user = int(input("Enter Number : "))

Enter Number : 50
Guess lower...
Enter Number : 25
Guess Higher...
Enter Number : 32
Guess lower...
Enter Number : 30
You won...

In [ ]:
import random
machine = random.randint(1, 100)
user = int(input("Enter Number : "))
counter = 0

while True:

  if machine == user:
    counter += 1
    print("You won..., Attempt : ", counter)
    break
  elif machine > user:
    print("Guess Higher...")
    counter +=1
  elif machine < user:
    print("Guess lower...")
    counter +=1

  user = int(input("Enter Number : "))

Enter Number : 50
Guess lower...
Enter Number : 25
Guess lower...
Enter Number : 12
Guess Higher...
Enter Number : 20
Guess lower...
Enter Number : 18
Guess lower...
Enter Number : 15
Guess Higher...
Enter Number : 16
You won..., Attempt :  7

In [ ]:
Student Data:

  1. Registration
  2. Student list
  3. delete student
  4. update
  4. exit


  1. Registration
          -> name
          -> age
          -> contact
          -> gender


2. display list

3. delete student

      student provide registeration number

      if student found :
        delete student successfully

      otherwise print message
           --> student not found

4. update
        student provide registeration number

      if student found :

          1. name
          2. gender
          3. contact
          4. age

         update successfully

      otherwise print message
           --> student not found

In [ ]:
student_data = {}
register_no = 10000000100



while True:

  print('''
      1. Registration
      2. Student list
      3. delete student
      4. update
      4. exit
  ''')

  user_input = int(input("Choose Option : "))


  if user_input == 1:
    register_no += 1
    name, gender, contact, age = input("Enter Name : "), input("Enter Gender : "), input("Enter Contact : "), input("Enter age : ")

    student_data[register_no] = [name, age, gender, contact]

    print(f"Your name is {name} and Register No : {register_no}")

  elif user_input == 2:
    pass

  elif user_input == 3:
    pass


  elif user_input == 4:

    reg_no = int(input("Enter Reg No : "))

    reg_stu = student_data[reg_no]

    if reg_no in student_data:
      print(f"Student Fount and Reg No {reg_no}")

      print('''
          1. Name
          2. Gender
          3. Contact
          4. Age
          5. Exit
      ''')
      choice = int(input("Enter Choice : "))

      while True:

        if choice == 1:
          reg_stu[0] = input("Enter name : ")

        elif choice == 2:
          reg_stu[0] = input("Enter Gender : ")

        elif choice == 3:
          reg_stu[0] = input("Enter Contact : ")


        elif choice == 4:
          reg_stu[0] = input("Enter Age : ")

        elif choice == 5:
          break

        choice = int(input("Enter Choice : "))

  elif user_input == 5:
    pass
    break

      1. Registration
      2. Student list
      3. delete student
      4. update
      4. exit

Choose Option : 1
Enter Name : Dhanraj
Enter Gender : Male
Enter Contact : 3333333
Enter age : 900
Your name is Dhanraj and Register No : 10000000101

      1. Registration
      2. Student list
      3. delete student
      4. update
      4. exit

Choose Option : 1
Enter Name : Raj
Enter Gender : Male
Enter Contact : 33333
Enter age : 2222
Your name is Raj and Register No : 10000000102

      1. Registration
      2. Student list
      3. delete student
      4. update
      4. exit

Choose Option : 4
Enter Reg No : 10000000101
Student Fount and Reg No 10000000101

          1. Name
          2. Gender
          3. Contact
          4. Age
          5. Exit

Enter Choice : 3
Enter Contact : 989898989
Enter Choice : 4
Enter Age : 9
Enter Choice : 5

      1. Registration
      2. Student list
      3. delete student
      4. update
      4. exit

Choose Option : 5