In [ ]:
print('Hello')
print("Hello")
print(''' Hello ''')
print(""" Hello """)

Hello
Hello
 Hello
 Hello

In [ ]:
''' Hello, Python is good programming language '''

# hello, Dhanraj

print(__doc__)

 Hello, Python is good programming language

In [ ]:
# "Hello", 'Dhanraj', How are you ?

print(''' "Hello", 'Dhanraj', How are you ? ''')

 "Hello", 'Dhanraj', How are you ?

In [ ]:
print(""" "Hello", 'Dhanraj', How are you ? """ )

 "Hello", 'Dhanraj', How are you ?

In [ ]:
name = "Dhanraj"
print(name)

Dhanraj

In [ ]:
num = 10
print(num)

10

In [ ]:
num = 10
id(num)  # address

137577019277840

In [ ]:
num = 10
type(num)   # <class 'int'>

int

In [ ]:
# fundamental data types

# int , bool, complex , float

num = 10
boolean =True
complex_num = 10 + 0j
float_value = 10.0

print(num, " --> ", type(num),  " --> " , id(num))
print(boolean, " --> ", type(boolean), " --> " , id(boolean))
print(complex_num, " --> ", type(complex_num),  " --> " , id(complex_num))
print(float_value, " --> ", type(float_value),  " --> " , id(float_value))

10  -->  <class 'int'>  -->  137577019277840
True  -->  <class 'bool'>  -->  101806989714464
(10+0j)  -->  <class 'complex'>  -->  137575689866512
10.0  -->  <class 'float'>  -->  137575689870416

In [ ]:
num = 10
print(id(num), num)
num = 20
print(id(num), num)
print(num, id(num))

137577019277840 10
137577019278160 20
20 137577019278160

In [ ]:
num = 10
num2 = 5 + 5
num3 = 20 - 10
num4 = 2 * 5

print(id(num))
print(id(num2))
print(id(num3))
print(id(num4))

137577019277840
137577019277840
137577019277840
137577019277840

In [ ]:
num1 , num2 = 10, 20
print(num1, num2)

10 20

In [ ]:
num1 = num2 = num3 = 10
print(num1, num2, num3)

10 10 10

In [ ]:
# swap two numbers

num1 = 10
num2 = 20
print("Before : ")
print("num1 : ", num1 , " num2 : ", num2 )
num1 ,  num2 = num2 , num1
print("num1 : ", num1 , " num2 : ", num2 )

Before :
num1 :  10  num2 :  20
num1 :  20  num2 :  10

In [ ]:
# operators

selling_price = 1000
discount = 20
amount = (selling_price * discount ) / 100

print("Price : ", selling_price)
print("Discount : ", discount)
print("-------------------")
print("Payable amount : " , selling_price - amount)

Price :  1000
Discount :  20
-------------------
Payable amount :  800.0

In [ ]:
# Area of circle
# process = pi * r^2
# output  -> Area of circle is : area

radius = 10
area = 3.14 * radius * radius
print("Area of circle is : ", area)

Area of circle is :  314.0

In [ ]:
# // , **
print(10 / 3)
print(10 // 3)

print(10 ** 2)

3.3333333333333335
3
100

In [ ]:
# Area of circle
# process = pi * r^2
# output  -> Area of circle is : area

radius = 10
area = 3.14 * radius ** 2

print("Area of circle is : ", area)

Area of circle is :  314.0

In [ ]:
# // --> remove last digit
# % ---> display last digit

print(12345 % 10)
print(12345 // 10)

5
1234

In [ ]:
number = 12345
print("Addition of digits is : ",(( number % 10) + ( number % 100) +  (number % 1000) + ( number % 10000)) )

Addition of digits is :  2740

In [ ]:
a = 12345
a1 = a % 10
a //= 10
a2 = a % 10
a //= 10
a3 = a % 10
a //= 10
a4 = a % 10
a //= 10
a5 = a % 10
print(a1 + a2 + a3 + a4 + a5)

15

In [ ]:
# logical operator
# and --> when all is needed
# or  --> when any one is needed

print(10 and 10)

10

In [ ]:
print(10 and 20)

20

In [ ]:
if 10 == 10 and 20 == 20:
  pass

In [ ]:
# is, is not
num1 = 10
num2 = 20
print(num1 is num2)

False

In [ ]:
# is, is not

num1 = 10
num2 = 10
print(num1 is not num2)

False

In [ ]:
# membership
# in , not in

print("h" in "hello")

True

In [ ]:
# membership
# in , not in

print("h" not in "hello")

False

In [ ]:
input = input("prompt/message")
print(input)

prompt/message10
10

In [ ]:
input = input("prompt/message")
print(input, type(input))

prompt/message10
10 <class 'str'>

In [ ]:
# input --> by defalult --> string

# int(), bool(), str(), float()

In [ ]:
user_input = bool(input("I want false output : "))
print(user_input)

I want false output : 1
True

In [ ]:
num1 = input("Enter number : ")
num2 = input("Enter number : ")

print("Addition is : ", num1 + num2)

Enter number : 10
Enter number : 20
Addition is :  1020

In [ ]:
num1 = int( input("Enter number : "))
num2 = int(input("Enter number : "))

print("Addition is : ", num1 + num2)

Enter number : 10
Enter number : 20
Addition is :  30

In [ ]:
user_input = bool(input("I want false output : "))
print(user_input)

I want false output :
False

In [ ]:
# take a input from user
# Sample input --> total_marks = 500
# Expected output --> Your Percentage is : 100.0

# process --> total_marks * 100 / 500

In [ ]:
total_marks = int(input("Enter total marks : "))
percentage = total_marks * 100 / 500
print("Your Percentage is : ", percentage)

Enter total marks : 500
Your Percentage is :  100.0

In [ ]:
print("Your Percentage is : ", int(input("Enter total marks : ")) * 100 / 500)

In [ ]:
# Take input from user
# Sample input --> f = 100.0
# Expected output --> C = 37.

# process --> (f - 32) * 5/9

In [ ]:


print("C : ", (int(input("Enter total marks : ")) - 32) * 5/9)

Enter total marks : 100
C :  37.77777777777778

In [ ]:
# take input from user
# Sample input --> 10, 20, 30
# Expected output --> Avg = 20
# process--> num1 + num2 + num3 / total_numbers

# process --> total_marks * 100 / 500

In [ ]:
num1 = int(input("Enter total marks : "))
num2 = int(input("Enter total marks : "))
num3 = int(input("Enter total marks : "))

print("Avg is : ", (num1 + num2 + num3 )// 3)

Enter total marks : 10
Enter total marks : 20
Enter total marks : 30
Avg is :  20

**Branching**

In [ ]:
# Syntax

if condition (Boolean):
  # code // pass

SyntaxError: invalid syntax (<ipython-input-17-12a01f6c9833>, line 3)

In [ ]:
clock = int(input("Enter time : "))

if clock == 10:
  print("Temple")

if clock == 3:
  print("Movie")

if clock == 6:
  print("Party")

Enter time : 10
Temple

In [ ]:
user_input= int(input("Enter number : "))

if user_input > 0:
  print(user_input, " +ve")

if user_input < 0:
  print(user_input, " -ve")

Enter number : 10
10  +ve

In [ ]:
clock = int(input("Enter time : "))

if clock == 10:
  print("Temple")

if clock == 3:
  print("Movie")

if clock == 6:
  print("Party")

else:   # if any condition fail
  print("Stay Home Stay Safe")

Enter time : 4
Stay Home Stay Safe

In [ ]:

num = int(input("Enter number "))

if num > 0:
  print(num,  " is positive ")
else:
  print(num," is negative")

Enter number 0
0  is negative

In [ ]:
if condition:
  # code
elif condition:
  # code
else:
  # code

In [ ]:

num = int(input("Enter number "))

if num > 0:
  print(num,  " is positive ")

elif num == 0:
  print("Number is 0")
else:
  print(num," is negative")

Enter number -9
-9  is negative

In [ ]:
# read a  number from user to check number is even or odd
# Sample Input --> 10
# expected output --> 10 is even

# Sample Input --> 15
# expected output --> 10 is odd

# process --> num % 2 == 0 --> if true --> even otherwise --> false

In [ ]:
num = int(input())

if num % 2 == 0:
  print(num, " is even")
else:
  print(num, " is odd")

10
10  is even

In [ ]:
# Read a number from user and check number is accepted or not

# Sample Input --> 15
# expected output --> 15 is accepted

# Sample Input --> 10
# expected output --> 10 is rejected

# process --> if number is perfectly divisible by 3 and 5 then number is accepted otherwise
# number is rejected

In [ ]:
# and --> when all is needed
# or --> when any one is needed

num = int(input())
if num % 3 == 0 and num % 5 == 0:
  print(num, " is accepted.")
else:
  print(num, " is rejected")

10
10  is rejected

In [ ]:
# Read a number from user and check year is a leap year or not

# Sample Input --> 2000
# expected output --> 2000 is a leap year

In [ ]:
year = int(input())
if (year % 4 == 0 and year % 100 != 0 ) or year % 400 == 0:
  print(year ,  " is a leap year")
else:
  print(year ,  " is not a leap year")

2000
2000  is a leap year

In [ ]:
# Requirement based question

per < 40  --> fali
per >= 40 ---> per class : pass
per >= 60 ---> per class : first class
per >= 80 ---> per class : merite

In [ ]:

machine = input("On or OFF : (Y/N) ")

if machine == "Y":

  # marks
  sub1 = int(input("Enter Marks : "))
  sub2 = int(input("Enter Marks : "))
  sub3 = int(input("Enter Marks : "))

  if sub1 >= 40 and sub2 >= 40 and sub3 >= 40:

    # calculate per
    percentage = ((sub1+sub2+sub3)*100) / 300

    if percentage >= 0 and percentage <= 100:

      if percentage >= 40 and percentage < 60:
        print("Percentage : ", percentage , " Class : Pass")

      elif percentage >= 60 and percentage < 80:
        print("Percentage : ", percentage , " Class : First Class")

      elif percentage >= 80 and percentage <= 100:
        print("Percentage : ", percentage , " Class : Merit")

    else:
      print("Tum se naa ho payee...")

  else:
    print("Try again...")

elif machine == "N":
  print("Turn Off...")

On or OFF : (Y/N) Y
Enter Marks : 100
Enter Marks : 100
Enter Marks : 100
Percentage :  100.0  Class : Merit

**Looping**

In [ ]:
# for loop
# while loop

In [ ]:
while condition:
  pass

In [ ]:
# 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

start = 1
# starting --> included, ending --> exluded

while start < 10+1 :  # start <= 10  //  start < 11
  print(start)
  start = start + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 10, ......0

start = 10
while start >= 0:
  print(start)
  start -= 1

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# count the digits
# Sample input --> 12345
# Expected output --> count : 5

In [ ]:
import time

num = int(input())
count = 0
while num != 0:
  time.sleep(4)
  print(num, "count -> ", count )
  count += 1
  num //= 10

print("Final answer is : ", count)

4444444
4444444 count ->  0
444444 count ->  1
44444 count ->  2
4444 count ->  3
444 count ->  4
44 count ->  5
4 count ->  6
Final answer is :  7

In [ ]:
# count the digits
# Sample input --> 12345
# Expected output --> addition : 15

In [ ]:

num = 12234
sum = 0
while num > 0:
  sum += num % 10
  num //= 10
  print("sum --> ", sum)

print("final answer is : ", sum)

sum -->  4
sum -->  7
sum -->  9
sum -->  11
sum -->  12
final answer is :  12

In [ ]:
# reverse a number
# Sample input --> 12345
# Expected output --> rev : 54321

In [ ]:

num = 12234
rev = 0
while num > 0:
  rev = rev * 10 + num % 10
  num //= 10
  print("sum --> ", rev)

print("final answer is : ", rev)

sum -->  4
sum -->  43
sum -->  432
sum -->  4322
sum -->  43221
final answer is :  43221

In [ ]:
# Read number from user to check number is palindrome or not
# Sample -> 12321
# expected --> 12321 is palindrome

# Sample -> 123211
# expected --> 112321 is not palindrome

In [ ]:

num = 1223221
original_num = num
rev = 0
while num > 0:
  rev = rev * 10 + num % 10
  num //= 10

if original_num == rev:
  print(original_num, " is palindrome")
else:
  print(original_num, "is not palindrome")

1223221  is palindrome

In [ ]:
# for loop

for <var> in collection_dataType:
  print()

In [ ]:
a = range(10)
print(type(a))

<class 'range'>

In [ ]:
a

range(0, 10)

In [ ]:
range(starting/initialization, condition, increment/decrement/step)

starting --> optional --> by default --> 0
condition --> mandatory
step --> by default --> +1 --> optional

In [ ]:
a = range(1, 10, 1)

In [ ]:
a

range(1, 10)

In [ ]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(1, 10+1):
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for x in range(10):
  print("at " , x, " we have : ", x+1)

at  0  we have :  1
at  1  we have :  2
at  2  we have :  3
at  3  we have :  4
at  4  we have :  5
at  5  we have :  6
at  6  we have :  7
at  7  we have :  8
at  8  we have :  9
at  9  we have :  10