In [ ]:
# Object Oriented Programming

# class name should be start with capital letter
# function name should be start with small letter

class Human:
  ''' '''
  def name(self):
    name = input("Enter name : ")
    print("Hello I am ",self.name, id(name))

  def gender(self):
    gender = input("Enter Gender : ")
    print(f"Gender : ", self.gender)

In [ ]:
h = Human()

In [ ]:
print(h)

<__main__.Human object at 0x79c292d8d900>

In [ ]:
h.name()

Enter name : Dhanraj
Hello I am  <bound method Human.name of <__main__.Human object at 0x79c292d8d900>> 133876585048304

In [ ]:
h.gender()

Enter Gender : male
Gender :  <bound method Human.gender of <__main__.Human object at 0x79c292d8d900>>

In [ ]:
# access modifiers / speciers

# 1. public
# 2. private
# 3. protected
# 4. default


# 1. public
# 2. private
# 3. strongly_private

In [ ]:
class Human:

  name = "Dhanraj"   # public
  _phone = 44444444  # private
  __pin_no = 123     # strongly_private

In [ ]:
h = Human()

h.name

'Dhanraj'

In [ ]:
h._phone

44444444

In [ ]:
h.__pin_no

AttributeError: 'Human' object has no attribute '__pin_no'

In [ ]:
# print area of circle
# set_radius(), printArea()


class Circle:

  def set_radius(self):
    self.radius = int(input("Enter Radius : "))

  def print_area(self):
    print(f"Area of circle is : {3.14 * self.radius**2}")

In [ ]:
c = Circle()

In [ ]:
c.set_radius()

Enter Radius : 10

In [ ]:
c.print_area()

Area of circle is : 314.0

In [ ]:
c1 = Circle()

c1.set_radius()

Enter Radius : 100

In [ ]:
c1.print_area()

Area of circle is : 31400.0

In [ ]:
# set_user_data(), display_user_data()
# name, age, city


class User:

  def set_user_data(self, name, age, city):
    self.name = name
    self.age = age
    self.city = city

  def display_user_data(self):
    print(f"Name : {self.name}\t Age : {self.age}\t City : {self.city}")

In [ ]:
u = User()

In [ ]:
user_list = list(map(str, input("Enter Name, age, city (separated by space) : ").split()))

u.set_user_data(*user_list)

Enter Name, age, city (separated by space) : Dhanraj 11 surat

In [ ]:
u.display_user_data()

Name : Dhanraj	 Age : 11	 City : surat

In [ ]:
# Constructor :
# Syntax:
# def __init__(self):
#     pass

In [ ]:
# set_user_data(), display_user_data()
# name, age, city


class User:

  name = "Dhanraj"
  age = 11
  city = "Shirput"
  def __init__(self, name, age, city):
    self.name = name
    self.age = age
    self.city = city

  def display_user_data(self):
    print(f"Name : {self.name}\t Age : {self.age}\t City : {self.city}")

In [ ]:
u = User()

TypeError: User.__init__() missing 3 required positional arguments: 'name', 'age', and 'city'

In [ ]:
class User2:
  def __init__(self, name, age, city):
    self.name = name
    self.age = age
    self.city = city

  def display_user_data(self):
    print(f"Name : {self.name}\t Age : {self.age}\t City : {self.city}")

In [ ]:
u = User("dhanraj", 12, "Surat")

In [ ]:
u.display_user_data()

Name : dhanraj	 Age : 12	 City : Surat

In [ ]:
# define a class
# aadhar card, name, gender, address

# global aadhar_card_no

In [ ]:
class DenaBank:

  account_no = 10002024000100

  def __init__(self, name, age, city, contact):
    self.name = name
    self.age = age
    self.city = city
    self.contact = contact
    DenaBank.account_no += 1
    self.acc_no = DenaBank.account_no

  def __str__(self):
    return "Account created successfully... Name : " + self.name + " Account No : " + str(self.acc_no)

In [ ]:
 bank = DenaBank("Dhanraj", "11", "Surat", "9999999")

In [ ]:
print(bank)

Account created successfully... Name : Dhanraj Account No : 10002024000102

In [ ]:
 bank1 = DenaBank("raj", "11", "Surat", "9999999")

In [ ]:
print(bank1)

Account created successfully... Name : raj Account No : 10002024000104

In [ ]:
'''
Banking System

one must code banking system that can do
1.open account:
  take name,gender,and minimumbalance 3000 to open account.
  account number auto generated
  # class variable

2.check balance():
	1st read account number, search account, if found then show details

3.withdraw():
	check minimum balance should be kept 2000 else will not allow transection

4.deposit():
	read amount ,update balance but amount can not be -ve

2,3,4---one must give account number,search account and then
perform needed operations
'''

In [ ]:
global_account_no = 100020240000100

class Account:

  def __init__(self, name, age, contact, address, amount):
    self.name = name
    self.age = age
    self.contact = contact
    self.address = address
    global global_account_no
    global_account_no += 1
    self.account_no = global_account_no


  def __str__(self):
    return "Name : " + self.name + "\n Account No : " + str(self.account_no) + "\nAge : " + str(self.age) + " \n Address : " + self.address

  def deposite(self, amount):
    if amount <= 0:
      return "Deposite amount is to less"
    else:
      self.amount += amount
      print("After last transation : ", self.amount)


  def withdraw(self, amount):
    if self.amount >= amount:
      return "Insufficient Balance"
    else:
      self.amount -= amount
      print("After last transation : ", self.amount)

In [ ]:
user_data = (map(str, input("Enter Name , age, contact, address (separated by space) : ").split()))
user1 = Account(*user_data)

KeyboardInterrupt: Interrupted by user

In [ ]:
print(user1)

Your Account successfully Created Name : dhanraj and Account No : 100020240000101

In [ ]:


bank = {}

  name, age, contact, address

  amount

    minimum balance 3000

          if condition is true --> done
                          false --> please deposite at least 3000

In [ ]:
bank = {}

In [ ]:
# user_data = (map(str, input("Enter Name , age, contact, address (separated by space) : ").split()))
name = input("Enter name : ")
age = input("Enter name : ")
contact = input("Enter name : ")
address = input("Enter name : ")
while True:

  amount = int(input("Enter amount : "))

  if amount >= 3000:
    a = Account(name, age, contact, address, amount)
    bank[a.account_no] = a
    break
  else:
    print("Deposite at least 3000...")

Enter name : dhanaj
Enter name : 33
Enter name : 3333
Enter name : 333333
Enter amount : 3000

In [ ]:
# searching

user_acc = int(input('Enter Your Acc No : '))

bank_keys = bank.keys()


if user_acc in bank_keys:
  print("User Account Foun...")
  print(bank[user_acc])
else:
  print("User Account not Found")

Enter Your Acc No : 100020240000101
User Account Foun...
Name : dhanaj
 Account No : 100020240000101
Age : 33
 Address : 333333

In [ ]:
# login

# create function -->

dict = {1 : ["name", "age", "city"], 2 : ["name", "age", "city"]}

def log_in(userName, password):
  if userName in dict.keys():
    if password == 1234:
      "withdraw, deposite, check balance, exit"
      # print(dict[userName])
      return True
    else:
      return False
      # print("invalid username and password")
  # else:
  #   print("Invalid card")


log_in(1, 1234)

['name', 'age', 'city']

In [ ]:
log_in(1, 12345)

invalid username and password

In [ ]:


while True:

  yes_no = input("Do you want to open an applicatiok : ").upper()

  if yes_no == "Y":
    acc = int(input("Enter account : "))
    password = int(input("Enter password : "))

    if log_in(acc, password):
      print("Successfully login...")

      print('''
            1. Login
            2. New Account
      ''')

      log_new = int(input("Select Option : "))

      choice = int(input("1. Deposite amount \n2. Withdraw amount \n3. Check Balance"))

      if choice == 1:
        if choice == 1:
          account_number = int(input("Enter account number : "))
          amount = int(input("ENter amount : "))
          deposite(account_number, amount)
          print("Your amount is successfully deposite...")

      elif choice == 2:
        # create_account() ....create function

    else:
      print("invalid username and password")


  elif yes_no == "No":
    pass

  else:
    print("Invalid Input...")

In [ ]:
# inheritance


class Parent:

  def property(self):
    print("2 flat / 2 kg / 1 car")


class Child(Parent):
  pass

In [ ]:
c = Child()

In [ ]:
c.property()

2 flat / 2 kg / 1 car

In [ ]:
# inheritance

class GrandParent:

  def property1(self):
    print("10 chash / 2 kg gold")

class Parent(GrandParent):

  def property(self):
    print("2 flat / 2 kg / 1 car")


class Child(Parent):
  pass

In [ ]:
class A:
  def add(self):
    print("first")

  def add(self):
    print("second")

In [ ]:
a = A()

In [ ]:
a.add()

second

In [ ]:
# inheritance  --> one parent ---> 2 child classes

class Parent:

  def property1(self):
    print("10 chash / 2 kg gold")

class Child(Parent):

  def property(self):
    print("2 flat / 2 kg / 1 car")


class Child2(Parent):
  pass

In [ ]:
c2 = Child()

c2.property()

2 flat / 2 kg / 1 car

In [ ]:
# inheritance  --> one parent ---> 2 child classes

class Parent1:

  def property(self):
    print("10 chash / 2 kg gold")

class Parent2:

  def property(self):
    print("2 flat / 2 kg / 1 car")


class Child(Parent1, Parent2):
  pass

In [ ]:
c= Child()

c.property()

10 chash / 2 kg gold

In [ ]:
# inheritance  --> one parent ---> 2 child classes

class Parent1:

  def property(self):
    print("10 chash / 2 kg gold")

class Parent2:

  def property(self):
    print("2 flat / 2 kg / 1 car")


class Child(Parent2, Parent1):
  pass

In [ ]:
c= Child()

c.property()

2 flat / 2 kg / 1 car

In [ ]:
# inheritance  --> one parent ---> 2 child classes

class Parent1:

  def marry(self):
    print("9tara / 3sha ")

class Child(Parent1):

  def marry(self):
    print("rashamika")

In [ ]:
p = Parent1()
p.marry()

9tara / 3sha

In [ ]:
c = Child()
c.marry()

rashamika