In [ ]:
# * * * *
# * * * *
# * * * *
# * * * *

import time
for row in range(4):
  for col in range(4):
    time.sleep(1)
    print("* ", end = " ")
  print()

*  *  *  *
*  *  *  *
*  *  *  *
*  *  *  *

In [ ]:
# 11 12 13 14
# 21 22 23 24
# 31 32 33 34


for row in range(1, 4):
  for col in range(1, 5):
    print(row, col, end = " ")
  print()

1 1 1 2 1 3 1 4
2 1 2 2 2 3 2 4
3 1 3 2 3 3 3 4

In [ ]:
# 11 12 13 14
# 21 22 23 24
# 31 32 33 34

for row in range(1, 4):
  for col in range(1, 5):
    print((row*10)+col, end = " ")
  print()

11 12 13 14
21 22 23 24
31 32 33 34

In [ ]:
# 1 1 1 1
# 0 0 0 0
# 1 1 1 1
# 0 0 0 0


for row in range(1, 5):
  for col in range(1, 5):

    if row % 2 == 0:
      print("1 ", end = " ")
    else:
      print("0 ", end = " ")
  print()

0  0  0  0
1  1  1  1
0  0  0  0
1  1  1  1

In [ ]:
for row in range(1, 5):
  for col in range(1, 5):
    print(row%2, end = " ")
  print()

1 1 1 1
0 0 0 0
1 1 1 1
0 0 0 0

In [ ]:
# 1 0 1 0
# 1 0 1 0
# 1 0 1 0
# 1 0 1 0

for row in range(1, 5):
  for col in range(1, 5):
    print(col%2, end = " ")
  print()

1 0 1 0
1 0 1 0
1 0 1 0
1 0 1 0

In [ ]:
# 1
# 1 0
# 1 0 1
# 1 0 1 0

for row in range(1, 5):
  for col in range(1, row+1):
    print(col%2 , end = " ")
  print()

1
1 0
1 0 1
1 0 1 0

In [ ]:
# Collection Data Types

1. list
2. tuple
3. dict
4. set

In [ ]:
# 1. list

-> we can store hetrogeneous
-> indexing concept is applicable
-> inserting order is preserve
-> we can store duplicates
-> we can use slice
-> growanle in nature
-> mutable

In [ ]:
list = []

type(list)

list

In [ ]:
id(list)

139078469700416

In [ ]:
-> append(para)
-> insert(index, value)
-> min()
-> max()
> sort()
-> sorted()
-> pop()

In [ ]:
l = [10, 10, 20, 30, True, 10 + 0j,  "Dhanraj", 10.9]
l

[10, 10, 20, 30, True, (10+0j), 'Dhanraj', 10.9]

In [ ]:
for values in l:
  print(values)

10
10
20
30
True
(10+0j)
Dhanraj
10.9

In [ ]:
for index in range(len(l)):
  print("at ", index , " we have ", l[index])

at  0  we have  10
at  1  we have  10
at  2  we have  20
at  3  we have  30
at  4  we have  True
at  5  we have  (10+0j)
at  6  we have  Dhanraj
at  7  we have  10.9

In [ ]:
l = [10, 20, 30]
id(l)

139078467866816

In [ ]:
l.append(500)
l

[10, 20, 30, 500]

In [ ]:
id(l)

139078467866816

In [ ]:
l.insert(1, 1)

In [ ]:
l

[10, 1, 20, 30, 500]

In [ ]:
l.pop()
l

[10, 1, 20, 30]

In [ ]:
sum(l)
print(min(l), max(l), sum(l))

1 30 61

In [ ]:
# define a empty list and i
# insert elements till first blank is given
# print --> list, min, max, avg

In [ ]:
user_order_list = []

while True:

  user_order = input("Add To Cart -> ")

  if user_order == "":
    break
  else:
    user_order_list.append(int(user_order))

print(user_order_list)
print("Max -> ", max(user_order_list),  " Min : ", min(user_order_list),  "Avg : ", sum(user_order_list)/ len(user_order_list))

In [ ]:
'''
define list

Sample Input --> 10, 20, 30, 40, 50, 1, 10, 20

find avg and display

like avg = 30

if avg > element ---> num += 10 otherwise num -= 5

'''

In [ ]:
l = [10, 20, 30, 40, 50, 1, 10, 20]

avg = sum(l) // len(l)
for element in range(len(l)):

  if l[element] > avg:
    l[element] -= 5
  else:
    l[element] += 10

print("Avg is : ", avg)
print("Final list -> ", l)

Avg is :  22
Final list ->  [20, 30, 25, 35, 45, 11, 20, 30]

In [ ]:
l = [10, 20,10, 10, 20]
l.count(10)

3

In [ ]:
# # without using count function solve the question

# Sample input --> l = [10, 20,10, 10, 20]
# Expected output --> 3


l = [10, 20,10, 10, 20]
count = 0
element = 10

for x in l:
  if x == element:
    count += 1

print("Count is : ", count)

Count is :  3

In [ ]:
list1 = [10, 20, 30, 40, 55]
list2 = [1, 2, 3, 4]

for x in range(len(list2)):
  list1[x] += list2[x]

print(list1)

[11, 22, 33, 44, 55]

In [ ]:
# define a list
# if element is odd then add
# if element is even the multiply
# print list, odd , even, and addition of odd + even


l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even = 1
odd = 0

for element in l:
  if element % 2 == 0:
    even *= element
  else:
    odd += element

print("Odd numbers addition is : ", odd)
print("Odd numbers addition is : ", even)
print("Odd numbers addition is : ", even + odd)

Odd numbers addition is :  25
Odd numbers addition is :  3840
Odd numbers addition is :  3865

In [ ]:
l = [1, 2, 3, 4, 5]

for x in range(len(l)):
  out = l.pop()
  l.insert(0, out)
  print(l)

print("------------------------")

for x in range(len(l)):
  out = l.pop(0)
  l.append(out)
  print(l)

[5, 1, 2, 3, 4]
[4, 5, 1, 2, 3]
[3, 4, 5, 1, 2]
[2, 3, 4, 5, 1]
[1, 2, 3, 4, 5]
------------------------
[2, 3, 4, 5, 1]
[3, 4, 5, 1, 2]
[4, 5, 1, 2, 3]
[5, 1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [ ]:
# set

'''
-> set() , {at least one element}
-> hetrogeneous
-> duplicates not allow
-> order not preserved
-> indexing not applicable
-> growable in nature
'''

s = {}
type(s)

dict

In [ ]:
s = set()
type(s)

set

In [ ]:
s = {1}
type(s)

set

In [ ]:
s = {1, 1, 1, 1, 1, 1, 1}
s

{1}

In [ ]:
s = {1, 2, 3, 4, 5}
s.pop()
s

{2, 3, 4, 5}

In [ ]:
l = [1, 2, 3, 4]
l.remove(1)
l

[2, 3, 4]

In [ ]:
l = [1, 2, 3, 4]
l.remove(10)
l

ValueError: list.remove(x): x not in list

In [ ]:
l = {1, 2, 3, 4}
l.remove(1)
l

{2, 3, 4}

In [ ]:
l = {1, 2, 3, 4}
l.remove(10)
l

KeyError: 10

In [ ]:
s = {1, 2, 3, 4}
s.discard(10)
s

{1, 2, 3, 4}

In [ ]:
s = {1}
id(s)

138658696078368

In [ ]:
s.add(3)

In [ ]:
id(s)

138658696078368

In [ ]:
l = [1, 3, 0, -1, 1]

l.sort()   # within sort

In [ ]:
print(l.sort())

None

In [ ]:
l = [1, 3, 0, -1, 1, 0]
print(sorted(l))

[-1, 0, 0, 1, 1, 3]

In [ ]:
# Sample Input --> l = [1, 2, 3, 1, 2, 3, 3, 3, 2, 1, 0, 9, 1]
# Expected output -->

# 1 -> 4
# 2 -> 3
# 3 -> 4
# 0 -> 1
# 9 -> 1


l = [1, 2, 3, 1, 2, 3, 3, 3, 2, 1, 0, 9, 1]

unique_list = set(l)

for x in unique_list:
  print(x , " -> ", l.count(x))

0  ->  1
1  ->  4
2  ->  3
3  ->  4
9  ->  1

In [ ]:
# Tuple

-> htro
-> ()
-> Immutable

In [ ]:
t = ()
type(t)

tuple

In [ ]:
id(t)

138658990948464

In [ ]:
t = (1, 2)
id(t)

138658687413824

In [ ]:
t = ([1],)
id(t)

138657663488528

In [ ]:
t[0].append(10)
t

([1, 10],)

In [ ]:
id(t)

138657663488528

In [ ]:
# dict

# key : value

In [ ]:
d = {1 : "Python", 1 : "Java"}
d

{1: 'Java'}

In [ ]:
d = {1 : "Python", 1 : "Java"}
d.items()

dict_items([(1, 'Java')])

In [ ]:
d = {1 : "Python", 2 : "Java", 3 : "Ruby", 4 : "R"}

for key, value in d.items():
  print("key : ", key ,  " Value : ", value)

key :  1  Value :  Python
key :  2  Value :  Java
key :  3  Value :  Ruby
key :  4  Value :  R

In [ ]:
d.values()

dict_values(['Python', 'Java', 'Ruby', 'R'])

In [ ]:
d.keys()

dict_keys([1, 2, 3, 4])

In [ ]:
# Sample Input --> l = [1, 2, 3, 1, 2, 3, 3, 3, 2, 1, 0, 9, 1]
# Expected output -->

# { 1 : 4
# 2 : 3
# 3 : 4
# 0 : 1
# 9 : 1
# }

l = [1, 2, 3, 1, 2, 3, 3, 3, 2, 1, 0, 9, 1]

unique_list = sorted(set(l))
my_dict = {}

for x in unique_list:
  my_dict[x] = l.count(x)

print(my_dict)

{0: 1, 1: 4, 2: 3, 3: 4, 9: 1}

In [ ]:
# Project

# You are a tea stall owner
# selling products --> tea = 12, coffee = 30, water = 20, banmaska =100
# print total amount




tea = coffee = banmaska = water = 0
while True:

  waiter = input("Do You Want To Order : (Y/N)")

  if waiter == "Y":

    user_order = int(input("1. Tea \t\t 12 \n2. Coffee \t 30 \n3. Water \t 20 \n4. Ban Maska \t 100 \n0. Exit \n"))

    if user_order == 1:
      print("Tea Selected...")
      tea += 1

    elif user_order == 2:
      print(" Coffee Selected...")
      coffee += 1

    elif user_order == 3:
      print(" Water Selected...")
      water += 1

    elif user_order == 4:
      print("BunMaska Selected...")
      banmaska += 1

    elif user_order == 0:
      print("Thanks For Ordering...")
      break

    else:
      print("Bhai dekh ke...")

  elif waiter == "N":
    pass



total_amount = (tea*12) + (coffee*30) + (water * 20) + (banmaska*100)
print("Total Payable amount is : " ,  total_amount)

Do You Want To Order : (Y/N)Y
1. Tea 		 12
2. Coffee 	 30
3. Water 	 20
4. Ban Maska 	 100
0. Exit
1
Tea Selected...
Do You Want To Order : (Y/N)3
Do You Want To Order : (Y/N)4
Do You Want To Order : (Y/N)y
Do You Want To Order : (Y/N)Y
1. Tea 		 12
2. Coffee 	 30
3. Water 	 20
4. Ban Maska 	 100
0. Exit
3
 Water Selected...
Do You Want To Order : (Y/N)Y
1. Tea 		 12
2. Coffee 	 30
3. Water 	 20
4. Ban Maska 	 100
0. Exit
4
BunMaska Selected...
Do You Want To Order : (Y/N)
Do You Want To Order : (Y/N)Y
1. Tea 		 12
2. Coffee 	 30
3. Water 	 20
4. Ban Maska 	 100
0. Exit
0
Thanks For Ordering...
Total Payable amount is :  132

In [ ]:
Bill No : 1000000101
-----------------------------
Tea     12    2   24
Coffee  30    2   60
----------------------------
Total Amount :    84

In [ ]:
import time

bill_no = 1000000100
tea = coffee = water = banmaska = 0

while True:

  machine = input("Machine On or OFF : (Y/N) ? ")

  if machine == "Y":

    yes_no = input("Any Order : (Y/N) ? ")

    if yes_no == "Y":

      tea = int(input("Tea : "))
      coffee = int(input("Coffee : "))
      banmaska = int(input("Banmaska : "))
      water = int(input("Water  : "))


      # printing bill

      bill_no += 1

      for x in range(10):
        time.sleep(1)
        print("---", end = "")

      print("\nBill No : ", bill_no)
      print("----------------------------------")

      if tea > 0:
        print("Tea  \t\t  12 ", tea, (tea*12))

      if coffee > 0:
        print("Coffee  \t\t  12 ", coffee, (coffee*30))

      if water > 0:
        print("water  \t\t  12 ", water, (water*20))

      if banmaska > 0:
        print("BanMaska  \t  12 ", banmaska, (banmaska*100))

      print("----------------------------------")

      print("Total Payable Amount : " , (tea*12) + (coffee*30) + (water * 20) + (banmaska*100))

      print("      Visit Again\n\n")


    elif yes_no == "N":
      print("Ok...")

  elif machine == "N":
    print("Switch Off...")
    break


  else:
    print("Please Provide Correct Input ")

Machine On or OFF : (Y/N) ? Y
Any Order : (Y/N) ? Y
Tea : 10
Coffee : 2
Banmaska : 1
Water  : 5
------------------------------Bill No :  1000000101
----------------------------------
Tea  		  12  10 120
Coffee  		  12  2 60
water  		  12  5 100
BanMaska  	  12  1 100
----------------------------------
Total Payable Amount :  380
      Visit Again
Machine On or OFF : (Y/N) ? Y
Any Order : (Y/N) ? Y
Tea : 5
Coffee : 0
Banmaska : 0
Water  : 0
------------------------------Bill No :  1000000102
----------------------------------
Tea  		  12  5 60
----------------------------------
Total Payable Amount :  60
      Visit Again
Machine On or OFF : (Y/N) ? N
Switch Off...